{% extends "blog/base.html" %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Browse Tags</h1>
    <div class="row justify-content-center">
        <div class="col-md-10 d-flex flex-wrap justify-content-center gap-3">
            {% for tag in tags %}
                <a href="{% url 'blog:tag_detail' tag.slug %}" class="btn btn-outline-secondary p-3 position-relative shadow-sm rounded">
                    #{{ tag.name }}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ tag.post_count }}
                    </span>
                </a>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        No tags are currently available.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}